# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
ENV/

# Data Files (Excluding large CSVs to keep repo light)
data/raw/*.csv
backtest/results/*.csv
backtest/results/*.json
backtest/results/*.png

# VS Code / IDE
.vscode/
.idea/

# System
Thumbs.db
Desktop.ini
